# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\psiewiera.VISIONGROUP\PycharmProjects\flask_playground\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/flask_playground.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
